<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
  </head>
  <body>

      <script>
        $(function(){
          $('.carousel').carousel({
            interval: 1000000
          });
        });
      </script>
        

          <div class=" center-block">
            <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <%= image_tag '0_hey.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '1_itsmeezgi.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '2_guesswhat.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '3_bday.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '4_jan.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '5_invited.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '6_dance.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '7_needyou.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '8_myfriends.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '9_details.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '10_clickclip.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '11_enter.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '12_rsvp.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '13_attire.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag '14_final.png'%>
                </div>
                <div class="carousel-item">
                  <%= image_tag 'love_ezgi.png'%>
                </div>

                <br />
                <br />

                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
                </ol>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        
      

      <br />

      <div align="center">
        <a data-toggle="modal" data-target="#myModal" ><%= image_tag 'hair.png', class: 'rsvp_image' %></a>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <%= simple_form_for @ekbdp do |f| %>
                <%= f.input :name, class: 'form_change'%>
                <%= f.input :email, class: 'form_change' %>
                <%= f.input :number, class: 'form_change' %>
                <%= f.input :guests, class: 'form_change' %>
                <%= f.submit 'RSVP', class: 'btn btn-secondary' %>
                <% end %>
              </div>
            </div>
          </div>
        </div> 
      </div>

      <br />
      <br />
      <br />
      <br />

      <div align="center">
        <a href= / ><%= image_tag 'white4.png', class: 'back_home' %></a>
      </div>

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

  </body>
</html>