<html>
  <body>

      <div class="back_link">
        <a href= / ><%= image_tag 'Background.jpg', class: 'back' %></a>
      </div>

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

    <script>
      $(function(){
        $('.carousel').carousel({
          interval: 1000000
        });
      });
    </script>

    <div class="caro">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <%= image_tag 'White-Background.jpg', class: 'sleek' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'White-Background.jpg', class: 'sleek' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'White-Background.jpg', class: 'sleek' %>
          </div>

          <br />
          <br />

          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <br />
      <br />
      <br />
      <br />

      <div align="center">
        <a data-toggle="modal" data-target="#myModal" ><%= image_tag 'Background.jpg', class: 'rsvp_image' %></a>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"></span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
              </div>
                <div class="modal-body">
                  <%= simple_form_for @ekbdp do |f| %>
                  <%= f.input :name %>
                  <%= f.input :email %>
                  <%= f.input :number %>
                  <%= f.submit 'RSVP', class: 'btn btn-secondary' %>
                </div>
              <% end %>
            </div>
          </div>
        </div> 
      </div>
    </div>

      <br />
      <br />
      <br />
      <br />

    </div>
  </body>
</html>